# Arquivos aleatórios
Arquivos/Outros
Arquivos/Images/Icones/imagens

# Arquivos da criação da interface
build/

# Pastas de cache e configuração
.vscode/
__pycache__/

# Arquivos desnecessários
*.txt
*.psd
*.spec